<div class="absolute-header">
  <h3>Home</h3>
  <p>Challenge control center</p>
</div>

<div class="week-header text-center mb-3">
  <h4><strong>Week 1 of 6</strong></h4>
</div>

<%# journey %>
<h5>Challenge Statistics</h5>
<% if @journeys.length > 0 %>
    <div class="dashboard-element dashboard-progress">
        <div><p>Progress: <%= @journey_progress %>%</p></div>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: <%= @journey_progress %>%" aria-valuenow="<%= @journey_progress %>" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
<% end %>

<div class="d-flex flex-wrap">
<%# badges %>
    <div class="dashboard-element">
        <% if  @user_badges %>



        <% if  @user_badges.length > 0 %>
            <h2>Badges:</h2>
            <div class="user-badges d-flex flex-wrap justify-content-start">
                <% @user_badges.each do |user_badge| %>
                    <div class="d-flex align-items-center flex-column user-badge">
                        <%= image_tag "badges/#{user_badge.badge.name.gsub(/\s+/, "")}.png", alt: user_badge.badge.name %>
                        <p class="mb-auto"><%= user_badge.badge.name %></p>
                    </div>
                <% end %>
            </div>
        <% else %>
            <h3>You currently have no badges</h3>


        <% end %>
        <% end %>
        <%# xp %>

        <div class="d-flex xp-streak">
            <div class="dashboard-element xp">
                <h4><i class="fas fa-gem"></i> points:
                    <% if current_user.xp %>
                        <%= current_user.xp %>
                    <% else %>
                        0
                    <% end %>
                </h4>
            </div>
            <div class="dashboard-element streak">
                <h4><i class="fas fa-fire-alt"></i> <%= @streak %> day streak</h4>
            </div>
        </div>
<!--
<div class="d-flex xp-streak">
    <div class="dashboard-element xp">
        <h4><i class="fas fa-gem"></i> points:
            <% if current_user.xp %>
                <%= current_user.xp %>
            <% else %>
                0
            <% end %>
        </h4>
 -->
        <div class="d-flex justify-content-around">
          <%= link_to "Log Sleep", journey_habits_create_path, class: "btn btn-main" %>
          <% if @journeys.length > 0 %>
            <%= link_to "Next Activity", journey_path(@journeys.last), class: "btn btn-main" %>
          <% end %>
        </div>
    </div>


    <div class="dashboard-leaderboard dashboard-element">
        <h4 id="leaderboard-header"> <strong>Challenge Leaderboard</strong></h4>
            <table style="width: 100%" class="table leaderboard">
                <% counter = 1 %>
                <% @short_leaderboard.each do |user| %>
                    <tr class=<%="leaderboard-current-user" if user == current_user %>>
                        <td class="leaderboard-position"><%= counter %></td>
                        <td class="leaderboard-avatar"><%= cl_image_tag user.photo.key, :gravity=>"faces", :crop=>"fill", class: "avatar m-1", alt: "avatar-large" %></td>
                        <td><%= user.first_name %></td>
                        <td class="leaderboard-xp"><%= user.xp %> XP</td>
                        <% counter += 1 %>
                    </tr>
                <% end %>
            </table>
    </div>
</div>



