<h1>Dashboard for <%= current_user.first_name.capitalize %> <%= current_user.last_name.capitalize %></h1>
<%= cl_image_tag current_user.photo.key, :gravity=>"faces", :crop=>"fill", class: "avatar-bordered feature-avatar m-1", alt: "avatar-large" %>

<% if  @user_badges %>
    <h2>Badges:</h2>
    <% @user_badges.each do |user_badge| %>

        <%= image_tag "badges/#{user_badge.badge.name.gsub(/\s+/, "")}.png", alt: user_badge.badge.name %>
    <% end %>
<% else %>
    <h3>You currently have no badges</h3>
<% end %>    
<h2>


    <% if current_user.xp %>
        <%= current_user.xp %>
    <% else %>
        0
    <% end %>
    XP
</h2>
<% if @journeys.length > 0 %>
<h2>Your current journey:</h2>
<%= link_to journey_path(@journeys.last) do %>
        <div class="lesson-card">
            <img src="https://images.unsplash.com/photo-1579273166152-d725a4e2b755?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" />
             <div class="lesson-card-infos">
                <h2><%= @journeys.last.name %></h2>
            </div>
        </div> 
    <% end %>
<% end %>





<ul>
<li><p><%= link_to "Social Dashboard", "/users/social" %></p></li>
<li><p><%= link_to "Tools Dashboard", "/users/tools" %></p></li>
<li><p><%= link_to "Get Support", "/users/support" %></p></li>
</ul>

