<h1>Dashboard for <%= current_user.first_name.capitalize %> <%= current_user.last_name.capitalize %></h1>
<h2>
    <% if current_user.xp %>
        <%= current_user.xp %>
    <% else %>
        0
    <% end %>
    XP
</h2>
<h2>Your current journey:</h2>
<h2><%= @journeys.last.name %></h2>


<ul>
<li><p><%= link_to "Social Dashboard", "/users/social"%></p></li>
<li><p><%= link_to "Tools Dashboard", "/users/tools"%></p></li>
<li><p><%= link_to "Get Support", "/users/support"%></p></li>
</ul>
