
<div class="absolute-header">
  <h1>Social Dashboard</h1>
  <p>See your friends progress</p>
</div>

<h3>Challenge Leaderboard</h3>
<div class="dashboard-element mb-4">
  <table style="width: 100%" class="table leaderboard mb-0">
          <% counter = 1 %>

          <% @leaderboard.each do |user| %>
              <tr class=<%="leaderboard-current-user" if user == current_user %>>
                  <td class="leaderboard-position"><%= counter %></td>
                  <td class="leaderboard-avatar"><%= cl_image_tag user.photo.key, :gravity=>"faces", :crop=>"fill", class: "avatar", alt: "avatar-large" %></td>
                  <td><%= user.first_name %></td>
                  <td class="leaderboard-xp"><%= user.xp %> XP</td>
                  <% counter += 1 %>
              </tr>
          <% end %>
  </table>
</div>


  <h3>The Feed</h3>


  <% @recent_activity.each do |activity| %>
      <% if activity.is_a?(BadgeUser) %>

        <div class="feed-container my-4">
          <div class="feed-content d-flex justify-content-between">
            <div class="d-flex justify-content-start">
              <div class="feed-avatar align-self-start">
                <%= cl_image_tag activity.user.photo.key, :gravity=>"faces", :crop=>"fill", class: "avatar-large m-2", alt: "avatar-large" %>
              </div>
              <div class="feed-info align-self-center">
                <div class="feed-name d-flex justify-content-start flex-grow-1">
                  <div>
                    <p><%= activity.user.first_name %> has earned the <%= activity.badge.name %> badge.</p>
                    <p class="feed-date sml-text"><%= activity.created_at.strftime("%A %d %B") %></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="feed-icon">
              <div class="d-flex align-items-center flex-column user-badge">
                        <%= image_tag "badges/#{activity.badge.name.gsub(/\s+/, "")}.png", alt: activity.badge.name %>
                        <p class="mb-auto"><%= activity.badge.name %></p>
              </div>
            </div>
          </div>
          <div class="feed-kudos d-flex flex-wrap justify-content-center py-1">
            <p>Give Kudos 🙌</p>
          </div>
        </div>
      <% else %>
        <div class="feed-container my-4">
          <div class="feed-content d-flex justify-content-between">
            <div class="d-flex justify-content-start">
              <div class="feed-avatar align-self-start">
                <%= cl_image_tag activity.journey.user.photo.key, :gravity=>"faces", :crop=>"fill", class: "avatar-large m-2", alt: "avatar-large" %>
              </div>
              <div class="feed-info align-self-center">
                <div class="feed-name d-flex justify-content-start flex-grow-1">
                  <div>
                    <p><%= activity.journey.user.first_name %> has logged the <%= activity.habit.name %> habit.</p>
                    <p class="feed-date"><%= activity.created_at.strftime("%A %d %B") %></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="feed-icon">
              <div class="d-flex align-items-center flex-column user-badge">
                        <%= image_tag "sleep.png", alt: "sleep", class: "mb-2" %>
                        <p class="mb-auto"><%= activity.habit.name %></p>
              </div>
            </div>
          </div>
          <div class="feed-kudos d-flex flex-wrap justify-content-center py-1">
            <p>Give Kudos 🙌</p>
          </div>
        </div>
      <% end %>
  <% end %>
<div style="height:50px;"></div>