<h1><%= current_user.first_name.capitalize %> <%= current_user.last_name.capitalize %>'s Social Dashboard</h1>
<h2>Challenge Leaderboard</h2>
<table>
    <tr>
        <th>User</th><th>XP</th>
    </tr>
        <% @leaderboard.each do |user| %>
            <tr>
                <td><%= user.first_name %></td>
                <td><%= user.xp %></td>
            </tr>
        <% end %>
</table>

<%= link_to 'Back', :back %>