<div class="absolute-header">
  <h3>Social Dashboard</h3>
  <p>View all challenge points</p>
</div>


<h4>Challenge Leaderboard</h4>
<table style="width: 100%" class="table table-dark">
    <tr>
        <th scope="col"></th><th scope="col">User</th><th scope="col">XP</th>
    </tr>
        <% @leaderboard.each do |user| %>
            <tr>
                <td><%= cl_image_tag user.photo.key, :gravity=>"faces", :crop=>"fill", class: "avatar m-1", alt: "avatar-large" %></td>
                <td><%= user.first_name %></td>
                <td><%= user.xp %></td>
            </tr>
        <% end %>
</table>



  <h2>The Feed</h2>


  <% @recent_activity.each do |activity| %>
      <% if activity.is_a?(BadgeUser) %>

        <div class="feed-container my-4">
          <div class="feed-date d-flex justify-content-start pl-1">
            <p><%= activity.created_at.strftime("%A %d %B") %></p>
          </div>
          <div class="feed-content d-flex flex-wrap justify-content-between">
            <div class="feed-avatar align-self-center">
              <%= cl_image_tag activity.user.photo.key, :gravity=>"faces", :crop=>"fill", class: "avatar-large m-2", alt: "avatar-large" %>
            </div>
            <div class="feed-info align-self-center">
              <div class="feed-name d-flex justify-content-start">
                <p><%= activity.user.first_name %> has earned the <%= activity.badge.name %> badge.</p>
              </div>
            </div>
            <div class="feed-icon">
              <div class="d-flex align-items-center flex-column user-badge">
                        <%= image_tag "badges/#{activity.badge.name.gsub(/\s+/, "")}.png", alt: activity.badge.name %>
                        <p class="mb-auto"><%= activity.badge.name %></p>
              </div>
            </div>
          </div>
          <div class="feed-kudos d-flex flex-wrap justify-content-center">
            <p>Give Kudos</p>
          </div>
        </div>
      <% else %>
        <div class="feed-container my-4">
          <div class="feed-date d-flex justify-content-start pl-1">
            <p><%= activity.created_at.strftime("%A %d %B") %></p>
          </div>
          <div class="feed-content d-flex flex-wrap justify-content-between">
            <div class="feed-avatar align-self-center">
              <%= cl_image_tag activity.journey.user.photo.key, :gravity=>"faces", :crop=>"fill", class: "avatar-large m-2", alt: "avatar-large" %>
            </div>
            <div class="feed-info align-self-center">
              <div class="feed-name d-flex justify-content-start">
                <p><%= activity.journey.user.first_name %> has logged the <%= activity.habit.name %> habit.</p>
              </div>
            </div>
            <div class="feed-icon">
              <div class="d-flex align-items-center flex-column user-badge">

                        <p class="mb-auto"><%= activity.habit.name %></p>
              </div>
            </div>
          </div>
          <div class="feed-kudos d-flex flex-wrap justify-content-center">
            <p>Give Kudos</p>
          </div>
        </div>
      <% end %>
  <% end %>

<%= link_to 'Back', :back %>

