<h2 class="absolute-header"><%= current_user.first_name.capitalize %> <%= current_user.last_name.capitalize %><p>Teacher Dashboard</p></h2>


<div class="dashboard-element teacher-info">
  <h2><%= current_user.school_name %></h2>
  <h4><%= current_user.school_class %> - <strong><%= @students.count %></strong> students
</div>

<div class="dashboard-element">
  <h5>Student Activity</h5>
  <% @recent_activity.each do |activity| %>
      
      <p><% if activity.class == BadgeUser %>
              <div class="activity badge-activity d-flex mb-1">
                <div>
                  <%= cl_image_tag activity.user.photo.key, :gravity=>"faces", :crop=>"fill", class: "avatar m-1", alt: "avatar-large" %>
                </div>
                <div>
                  <%= activity.user.first_name %> earned the <%= activity.badge.name %> badge.
                  <div class="grey"><%= activity.created_at.strftime("%A %d %B")%></div>
                </div>
              </div>
      <% elsif activity.class == JourneyHabit %>
              <div class="activity habit-activity d-flex mb-1">
                <div>
                  <%= cl_image_tag activity.journey.user.photo.key, :gravity=>"faces", :crop=>"fill", class: "avatar m-1", alt: "avatar-large" %>
                </div>
                <div>
                  <%= activity.journey.user.first_name %> logged the <%= activity.habit.name %> habit.
                  <div class="grey"><%= activity.created_at.strftime("%A %d %B")%></div>
                </div>
              </div>
      <% elsif activity.class == DailyMood %>
              <div class="activity mood-activity d-flex mb-1 <%="attention" if @negative_moods.include? activity.mood.name %>">
                <div>
                  <%= cl_image_tag activity.user.photo.key, :gravity=>"faces", :crop=>"fill", class: "avatar m-1", alt: "avatar-large" %>
                </div>
                <div>
                  <%= activity.user.first_name %> logged the <%= activity.mood.name %> mood.
                  <div class="grey"><%= activity.created_at.strftime("%A %d %B")%></div>
                </div>
              </div>
      <% end %></p>
  <% end %>
</div>

<div id="chart" style="width: webkit-fill-available; height: 400px;"></div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<%= javascript_tag do -%>
  google.charts.load('current', {'packages':['bar']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    var data = JSON.parse('<%= @habit_data.to_json.html_safe -%>');
    data = [['Student', 'Habits Logged']].concat(data);
    data = google.visualization.arrayToDataTable(data);
    var options = {
      title: 'Habits logged by students'
    };

    var chart = new google.charts.Bar(document.getElementById('chart'));
    chart.draw(data, google.charts.Bar.convertOptions(options));
  }
<% end -%>
<div style="height:50px;"></div>