
<h2 class="absolute-header"><%= current_user.first_name.capitalize %> <%= current_user.last_name.capitalize %>'s Tools Dashboard</h2>



<div class="cards-tool">
<% @tools.each do |tool| %>
  <div class="card-trip-index mb-2">
                  <%=  image_tag tool.photo %>
      <div class="card-trip-infos">
        <h2><%= link_to "#{tool.name}", tool_path(tool) %></h2>
      </div>
  </div>
  <% end %>
</div>


<%= link_to 'Back', :back %>
