<div class="absolute-header">
  <h3><%= @lesson.topic.capitalize %></h3>
</div>

<div class="lesson-main-description mt-4">
  <p class="lesson-name"><%= @lesson.name.capitalize %></p>
  <p class="lesson-description"><%= @lesson.description %></p>
  <p class="lesson-time">- Time to complete lesson - <%= @lesson.time_to_complete %> mins</p>
</div>

<div class="author-background">
  <div class="d-flex">
    <%= image_tag @lesson.author_photo, class: "avatar-large m-3", id: "author-img" %>
    <div>
      <div class="author">
        <h5 class="author-name"><%= @lesson.author.capitalize %></h5>
        <p class="author-description"><%= @lesson.author_description.truncate(44) %></p>
      </div>
    </div>
  </div>
</div>

<% @lesson.videos.each do |video| %>
  <% if video.lesson.journey_lessons.find { |jl| jl.journey.user_id == current_user.id }.video_watched == true %>
    <div class="lesson-card-complete mb-3">
      <img src="https://images.unsplash.com/photo-1579273166152-d725a4e2b755?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" />
      <div class="lesson-card-infos">
        <h2> Video: <%= video.name %> </h2>
        <p>Video • <%= video.time_to_complete %> mins</p>
      </div>
    </div>
  <% else %>
    <%= link_to lesson_video_path(@lesson, video) do  %>
      <div class="lesson-card mb-3">
        <img src="https://images.unsplash.com/photo-1579273166152-d725a4e2b755?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" />
        <div class="lesson-card-infos">
          <h2> Video: <%= video.name %> </h2>
          <p>Video • <%= video.time_to_complete %> mins</p>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>

   <% @lesson.activities.each do |activity| %>
    <% user_responses = activity.responses.where(user: current_user) %>
    <% unanswered_questions = activity.questions - user_responses.map { |r| r.question} %>
    <% if unanswered_questions.count == 0 %>
        <div class="lesson-card-complete mb-2">
          <img src="https://images.unsplash.com/photo-1579273166152-d725a4e2b755?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" />
          <div class="lesson-card-infos">
            <h2> <%= activity.name %> </h2>
            <p>Activity • <%= activity.time_to_complete %> mins</p>
          </div>
        </div>
      <% else %>
        <%= link_to lesson_activity_path(@lesson, activity) do  %>
            <div class="lesson-card mb-2">
              <img src="https://images.unsplash.com/photo-1579273166152-d725a4e2b755?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" />
              <div class="lesson-card-infos">
                <h2> <%= activity.name %> </h2>
                <p>Activity • <%= activity.time_to_complete %> mins</p>
              </div>
            </div>
            <% end %>
      <% end %>
    <% end %>
