<h1><%= @journey.name.capitalize %></h1>
<h2>Lessons for this journey</h2>

<% @journey_lessons.each do |journey_lesson| %>
    <%= link_to lesson_path(journey_lesson.lesson) do %>
        <% if journey_lesson.complete %>
            <div style="filter: contrast(60%) opacity(50%)">
        <% else %>
            <div>
        <% end %>
                <div class="lesson-card">
                    <%= image_tag journey_lesson.lesson.photo %>
                     <div class="lesson-card-infos">
                        <h2><%= journey_lesson.lesson.name %></h2>
                        <p><%= journey_lesson.lesson.description %></p>
                        <p>  
                            <% unless journey_lesson.complete %>
                                not
                            <% end %>
                                completed
                    </div>
                </div> 
            </div>
    <% end %>
<% end %>

<%= link_to 'Back', :back %>
