<section>
  <div class="content">
    <h2 class="absolute-header"><%= @journey.name.capitalize %></h2>
    <h2>Lessons for this journey</h2>
  </div>
</section>
<div><p>Progress: <%= @journey_progress %>%</p></div>
<div class="progress mb-2">
  <div class="progress-bar" role="progressbar" style="width: <%= @journey_progress %>%;" aria-valuenow="<%= @journey_progress %>" aria-valuemin="0" aria-valuemax="100"><%= @journey_progress %>%</div>
</div>

<% @journey_lessons.each do |journey_lesson| %>
    <% if @complete_journey_lessons.flatten.include? journey_lesson %>
        <% journey_lesson.complete = true %>
        <% journey_lesson.save! %>
        <%= link_to lesson_path(journey_lesson.lesson) do %>
            <div class="lesson-card mb-3 " style="filter: opacity(90%)">
                <%= image_tag journey_lesson.lesson.photo %>
                <div class="lesson-card-infos">
                    <h2><%= journey_lesson.lesson.name %></h2>
                    <p> complete!</p>
                </div>
            </div>
        <% end %>
    <% elsif journey_lesson.lesson == @next_lesson_to_complete %>

        <%= link_to lesson_path(journey_lesson.lesson) do %>
            <div class="lesson-card mb-3 " >
                <%= image_tag journey_lesson.lesson.photo %>
                <div class="lesson-card-infos">
                    <h2><%= journey_lesson.lesson.name %></h2>
                    <p><%= journey_lesson.lesson.time_to_complete%> mins</p>
                </div>
            </div>
        <% end %>
    <% else %>
        <div class="lesson-card mb-3"  style="filter: contrast(60%) opacity(50%)">
            <%= image_tag journey_lesson.lesson.photo %>
            <div class="lesson-card-infos">
                <h2><%= journey_lesson.lesson.name %></h2>
                <p><%= journey_lesson.lesson.time_to_complete%> mins</p>
            </div>
        </div>
    <% end %>
<% end %>

<%= link_to 'Back', :back %>
