<div class="container p-0">
 <div class="d-flex flex-column justify-content-center">


    <div class="progress ml-5 mt-4 mb-4">
      <div class="progress-bar progress-bar-striped" role="progressbar" style="width: <%= @activity_progress %>%" aria-valuenow="<%= @activity_progress %>" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

    <% if @unanswered_questions.empty? && @activity.questions.select {|question| question.correct_answer.present? }.count > 0%>
      <h3>You have answered all questions and earnt <%= @activity.xp%> xp</h3>
      <p>You scored <%= @quiz_score%>/<%= @number_of_quiz_questions %> on this quiz!</p>
      <% @badgesearned.each do |user_badge| %>
        <p>You also earnt this badge</p>
        <div class="d-flex align-items-center flex-column user-badge">
          <%= image_tag "badges/#{user_badge.badge.name.gsub(/\s+/, "")}.png", alt: user_badge.badge.name %>
          <p class="mb-auto"><%= user_badge.badge.name %></p>
        </div>
      <% end %>
      <%= link_to 'Head back to lesson page', lesson_path(@activity.lesson) %>
    <% elsif @unanswered_questions.empty? %>
      <h3>You have answered all questions and earned <%= @activity.xp%> xp</h3>
      <% if @badgesearned.length > 0 %>
      <p>You have earned the following badges</p>
      <% @badgesearned.each do |user_badge| %>
              <div class="d-flex align-items-center flex-column user-badge">
                  <%= image_tag "badges/#{user_badge.badge.name.gsub(/\s+/, "")}.png", alt: user_badge.badge.name %>
                  <p class="mb-auto"><%= user_badge.badge.name %></p>
              </div>
      <% end %>
  <% end %>
      <%= link_to 'Head back to lesson page', lesson_path(@activity.lesson) %>
    <% else %>
    <h3><strong><%= @unanswered_questions.first.question %></strong></h3>
    <%= simple_form_for [@unanswered_questions.first, @response], html: {class: "d-flex flex-column"}  do |f| %>
        <% if @unanswered_questions.first.possible_answers.nil? %>
          <%= f.input_field :content, height: "30px", class: :textbox %>
        <% else %>
          <%= f.input_field :content, as: :radio_buttons, collection: JSON.parse(@unanswered_questions.first.possible_answers) %>
        <% end %>
        <% if @unanswered_questions.first.correct_answer.nil? %>
          <%= f.button :submit, 'Continue', class: "btn-main mt-4"%>
        <% else %>
          <button id= "JS-button" type="button" class="btn-main w-50 mt-4 text-center" data-toggle="modal" data-target="#exampleModalCenter" data-answers= "<%= @unanswered_questions.first.correct_answer %>">Check Answer</button>
          <!-- Modal -->
          <div class="modal fade modal-position" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header justify-content-center">
                  <h5 class="modal-title" id="bannertext"></h5>
                </div>
                <div class="modal-footer justify-content-center" id="popup-banner">
                  <%= f.button :submit, "Continue", class: "btn-main w-50" %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>


<script>

  const jsButton = document.getElementById('JS-button')
  const answers = jsButton.dataset.answers
  const bannertext = document.getElementById('bannertext')
  const modal = document.getElementById('exampleModalCenter')
  
  if (document.getElementById('response_content')){
    jsButton.addEventListener("click", (event) => {
      event.preventDefault()
      const response = document.getElementById('response_content').value
      if (response === answers){
        bannertext.innerText = "Correct"
        modal.classList.add("modal-correct");
      } else {
        bannertext.innerText = "You Are Incorrect"
      }
    })
  } else {
    let selected = ""
    const options = document.querySelectorAll(".form-check")
    options.forEach((option) => {
      option.addEventListener("click", (event) => {
        selected = event.currentTarget.children[0].value
        jsButton.addEventListener("click", (event) => {
          if (selected === answers){
            bannertext.innerText = "Correct"
          } else {
            bannertext.innerText = "You Are Incorrect"
          }
        })
      })
    })
  }


</script>
