
<div class="container">
  <h1 class="absolute-header"><%= @activity.name %></h1>
  <h4> <%= @activity.description %> </h4>

  <% if @unanswered_questions.empty? %>
    <h3>You have answered all questions</h3>
  <% else %>
  <h1>hello</h1>
    <%= simple_form_for [@unanswered_questions.first, @response] do |f| %>
      <%= f.input :content %>
      <%= f.button :submit %>
    <% end %>
  <% end %>


 </div>

