
<div class="container p-0 vh-100 flex-column">

 <%# <div class="d-flex flex-column"> %>

    <% if @unanswered_questions.empty? && @activity.questions.select {|question| question.correct_answer.present? }.count > 0 %>
      <div class="d-flex align-items-center">
          <div class="d-flex flex-column justify-content-center align-items-center vh-100">
              <div class="d-flex flex-column align-items-center">
                  <%= image_tag 'winner.svg', alt: "congratulations!", style: "width:100%" %>
                  <h1 class="mt-5">You scored <%= @quiz_score%>/<%= @number_of_quiz_questions %></h1>
                  <h3 class="mt-2">You earnt</h3>
                  <h2><%= image_tag "095-diamond.svg", :height=>"30px" %> <strong><%= @activity.xp%></strong> xp</h2>
                  <canvas id="my-canvas" class="container-overlay"></canvas>
                  <% if @badgesearned.length > 0 %>
                      <p>You earnt new badges!</p>
                      <div class="user-badges d-flex flex-wrap justify-content-center">
                          <% @badgesearned.each do |user_badge| %>
                                  <div class="d-flex align-items-center flex-column user-badge">
                                      <%= image_tag "badges/#{user_badge.badge.name.gsub(/\s+/, "")}.png", alt: user_badge.badge.name %>
                                      <p class="mb-auto"><%= user_badge.badge.name %></p>
                                  </div>
                          <% end %>
                      </div>
                  <% end %>
              </div>
              <%= link_to 'Continue', lesson_path(@activity.lesson), class:"btn btn-main center" %>`
          </div>
      </div>

    <% elsif @unanswered_questions.empty? %>
    <div class="d-flex align-items-center">
          <div class="d-flex flex-column justify-content-center align-items-center vh-100">
              <div class="d-flex flex-column align-items-center">
                  <%= image_tag 'winner.svg', alt: "congratulations!", style: "width:100%" %>
                  <h3 class="mt-2">You earnt</h3>
                  <h2><%= image_tag "095-diamond.svg", :height=>"30px" %> <strong><%= @activity.xp%></strong> xp</h2>
                  <canvas id="my-canvas" class="container-overlay"></canvas>
                  <% if @badgesearned.length > 0 %>
                      <p>You earnt new badges!</p>
                      <div class="user-badges d-flex flex-wrap justify-content-center">
                          <% @badgesearned.each do |user_badge| %>
                                  <div class="d-flex align-items-center flex-column user-badge">
                                      <%= image_tag "badges/#{user_badge.badge.name.gsub(/\s+/, "")}.png", alt: user_badge.badge.name %>
                                      <p class="mb-auto"><%= user_badge.badge.name %></p>
                                  </div>
                          <% end %>
                      </div>
                  <% end %>
              </div>
              <% if @activities.last == @activity%>
                    <%= link_to 'Head to your journey', journey_path(current_user.journeys.first), class:"btn btn-main text-center", style:"width:200px;" %>
              <% else %>
                    <%= link_to 'Head back to lesson page', lesson_path(@activity.lesson), class:"btn btn-main text-center", style:"width:240px;" %>
              <% end %>
          </div>
      </div>
                <% if @activities.last == @activity%>
                    <%= link_to 'Head to your journey', journey_path(current_user.journeys.first), class:"btn btn-main text-center", style:"width:200px;" %>
                <% else %>
                    <%= link_to 'Head back to lesson page', lesson_path(@activity.lesson), class:"btn btn-main text-center", style:"width:240px;" %>
                <% end %>
          </div>
      </div>

    <% else %>

      <div class="progress ml-5 mt-4 mb-4">
        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: <%= @activity_progress %>%" aria-valuenow="<%= @activity_progress %>" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <div class="text-center">
        <h1>💤</h1>
      </div>
      <div class="pl-5 pr-5 text-center">
        <h2><strong><%= @unanswered_questions.first.question %></strong></h2>
      </div>
      <%= simple_form_for [@unanswered_questions.first, @response], html: {class: "d-flex flex-column flex-grow-1"}  do |f| %>
          <% if @unanswered_questions.first.possible_answers.nil? %>
            <%= f.input_field :content, as: :text, height: "30px", class: "textbox p-3" %>
          <% else %>
            <%# <%= f.input_field :content, as: :check_boxes, collection: JSON.parse(@unanswered_questions.first.possible_answers) %>
            <div class="choices">
            <% JSON.parse(@unanswered_questions.first.possible_answers).each do |answer| %>


                <label class="choice collection_radio_buttons" for="response_content_<%=answer%>"><%=answer%>
                  <input class ="hiddenRadioButton" type="radio" value="<%=answer%>" name="response[content]" id="response_content_<%=answer%>">
                </label>

            <% end %>
            </div>
          <% end %>
          <% if @unanswered_questions.first.correct_answer.nil? %>
          <div class="d-flex justify-content-center align-items-center">
            <div>
            <%= f.button :submit, 'Continue', class: "btn-main-activities mt-4 w-50"%>
            </div>
          </div>

          <% else %>
            <button id= "JS-button" type="button" class="btn-main-activities mt-4 w-50" data-toggle="modal" data-target="#exampleModalCenter" data-answers= "<%= @unanswered_questions.first.correct_answer %>">Check Answer</button>
            <!-- Modal -->
            <div class="modal fade modal-position" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">

              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header justify-content-center">
                    <h5 class="modal-title" id="bannertext"></h5>
                  </div>
                  <div class="modal-footer justify-content-center" id="popup-banner">

                    <%= f.button :submit, "Continue", class: "btn-main w-50" %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
      <% end %>
    <% end %>

  <%# </div> %>
</div>




<script>

  document.addEventListener('turbolinks:load', () => {

  const jsButton = document.getElementById('JS-button')
  const answers = jsButton.dataset.answers
  const bannertext = document.getElementById('bannertext')
  const modal = document.getElementById('exampleModalCenter')

  // if (document.querySelectorAll('.hiddenRadioButton')){
    jsButton.addEventListener("click", (event) => {
      event.preventDefault()
      const response = document.querySelector('.active').innerText
      console.log(response)
      if (response === answers){
        bannertext.innerText = "Correct!"
        // modal.classList.add("modal-correct");
      } else {
        bannertext.innerText = "You Are Incorrect"
      }
    })
  // } else {

  //   let selected = ""
  //   const options = document.querySelectorAll(".form-check")
  //   options.forEach((option) => {
  //     option.addEventListener("click", (event) => {
  //       selected = event.currentTarget.children[0].value
  //       jsButton.addEventListener("click", (event) => {
  //         if (selected === answers){
  //           bannertext.innerText = "Correct"
  //         } else {
  //           bannertext.innerText = "You Are Incorrect"
  //         }
  //       })
  //     })
  //   })

});

</script>
