
<div class="container">
  <h1><%= @activity.name %></h1>
  <h4> <%= @activity.description %> </h4>

  <% if @unanswered_questions.empty? %>
    <h3>You have answered all questions</h3>
  <% else %>
    <p><%= @unanswered_questions.first.question %></p>
    <%= simple_form_for [@unanswered_questions.first, @response] do |f| %>
      <% if @unanswered_questions.first.correct_answer.nil? %>
        <%= f.input :content %>
      <% else %>
        <%= f.input :content, as: :radio_buttons, collection: ['female','male']%>
      <% end %>
        <%= f.button :submit %>
    <% end %>
  <% end %>


 </div>

