<!DOCTYPE html>
<html>
  <head>
    <title>Yooka</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
   <svg class="banner" width="558" height="316" viewBox="0 0 558 316" fill="none" xmlns="http://www.w3.org/2000/svg">
   <rect width="558" height="190" fill="#0069FF" fill-opacity="0.63"/>
   <path class="banner-svg" d="M0 272.765V107.544C0 107.544 50.3789 133.337 104.16 172.203C157.941 211.068 272.304 162.31 345.96 76.2493C419.616 -9.81166 558 76.2493 558 76.2493V272.765C369.212 359.887 10.5059 291.519 0 272.765Z" fill="#0069FF"/>
   </svg>

  <body class="<%= "background-brand-color" if devise_controller? %>">
    <%= render "shared/top-navbar" %>
    <div class="container extra-margin">
      <%= yield %>
    </div>
    <%= render "shared/navbar" %>
  </body>
</html>
